<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
	<center>
		<br><br>
<img src="/img/logo.jpg" width="200px" alt="LOGO Meadowlark Travel">
	</center>
        {{{body}}}
    </body>
</html>
