<h2 align="center">
    About us<br>
    <u>--= Meadowlark Travel =--</u>
</h2>
{{#if fortune}}
  <p align="center">
    Your prediction for today is:
    {{fortune}}
    <!--
<blockquote align="center">{{fortune}}</blockquote>
    -->     
  </p>
{{/if}}
